<div class="row">
  <div class="span9">
    <h1>All Beers</h1>
  </div>
  <div class="span3">
    <%= form_tag("/beers/search", :method => :get, :remote => true, :class => 'form-search', :id => 'beer-search-form', :style => 'margin-top:20px;margin-bottom:0;') do %>
      <%= text_field_tag(:q, nil, :placeholder => "Search Beer...", :class => "input", :id => 'beer-search-input', :autocomplete => "off") %>
    	<%= submit_tag("Go", :class => 'btn', :id => 'beer-search-btn') %>
    <% end %>
  </div>

</div>
<div class="row">
	<div class="span12">
<table class="table table-striped " id="beerlist">
  <thead><tr>
    <th>Name</th>
    <th>Brewery</th>
   	<th>Style</th>
    <th></th>
  </tr>  </thead>

  <%= render @beers %>

</table>

<%= will_paginate @beers %>

</div>
</div>
