<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>NuoKeg</title>
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
  
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "NuoKeg", root_path, :class => 'navbar-brand'%>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <%= params[:controller] == 'kegs' && params[:action] == "current" ? "class=active" : "" %>><%= link_to "Current Keg", kegs_current_path  %></li>
            <li <%= params[:controller] == 'kegs' && params[:action] != "current" ? "class=active" : "" %>><%= link_to "Kegs", kegs_path %></li>
            <li <%= params[:controller] == 'beers' ? "class=active" : "" %>><%= link_to "Beers", beers_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      	<%= yield %>
    </div><!-- /.container -->


    <%= javascript_include_tag "application" %>
    <% if flash[:notice] %>
      <script language='javascript' type='text/javascript'>
        $(document).ready(function() {
        
          $(".notice-success").slideDown().delay(2000).slideUp();
        });
      </script>
    <% end %>
  </body>
</html>
